/* custom-scrollbar.css */
.custom-scrollbar {
    scrollbar-width: none;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100vh; /* Ajusta esta altura según tus necesidades */
  }
  
  .scroll-container img:first-child {
    max-height: 100vh; /* Solo se muestra la primera imagen completa */
    object-fit: contain;
  }
  
   @media (max-width: 768px) {
    /*  */
    .scroll-container {
      max-height: 500px;
    }

    .scroll-container img{
        max-height: 100vh;
    }
  }  

  @media (max-height: 400px) {
    /*  */
    .scroll-container {
      max-height: 60vh;
    }
  }  